################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/INPUT/~$Reestr_Routes_Distance_ByStop.xlsx
DATA/ULTIMATE_DS_TRANSACT.csv
DATA/ULTIMATE_RBS.csv
DATA/ULTIMATE_ROUTES.csv
DATA/ULTIMATE_RISE_TRANSACT.csv
DATA/ULTIMATE_STOPS.csv
.vs/Bash-ITS-Research/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Bash-ITS-Research/v15/.suo
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
